body {
    background: rgb(20, 20, 20); //white bad 
    .cWidget {
        margin: 0 auto;
    }
    .bgBar {
        background: #1b3e6a;
        //width: 12.7vw;
        //height: 4.3vh;
        min-width: 12.7vw;
        min-height: 4.3vh;
        max-width: 20vw;
        max-height: 6.8vh;        
    }
}